/*Top panel*/
#c_top{
    width: 100%;
    height: 41px;
    overflow: hidden;
    position: fixed;
    margin-top: -1px;
}
#c_navTop{
    margin-left: 20px;
    height: 25px;
    margin-top: 5px;
}
.list_navTop{
    margin-top: 0;
    float: left;
    list-style-type: none;
}
.list_navTop li{
    float: left;
    height: 45px;
    margin-top: -5px;
    padding: 5px 20px 0 20px;
    cursor: pointer;
    font-size: 20px;
}
.undrelineNavTop_blue,.undrelineNavTop_red,.undrelineNavTop_brown,.undrelineNavTop_fiolet,.undrelineNavTop_green,.undrelineNavTop_yellow{
    height: 3px;
    width: 100%;
}

/*Info panel*/
#c_info{
    padding-top: 1px;
    margin-top: 40px;
    height: 250px;
    width: 100%;
}
#infoCircle{
    margin-top: 170px;
    margin-left: 30px;
}
.circle,.circleAlpha{
    height: 50px;
    width: 50px;
    border-radius: 50px;
    margin-right: 20px;
    float: left;
    transition:all 0.14s ease-in;

}
.circleAlpha:hover{
    height: 66px;
    width: 66px;
    border-radius: 66px;
    margin-top:-8px;
    margin-left:-8px;
}
#button_closeInfo{
    float: right;
    margin-right: 10px;
    height: 15px;
    width: 20px;
}


/*Wrapper panel*/
#c_wrap{
    height: 3000px;
    width: 1198px;
    background-color: rgba(238, 232, 170, 0.2);
    margin: 0 auto;
}
#c_services{
    height: 250px;
    overflow: hidden;
}
#c_servicesAnim{
    width: 3228px;
}
.el_servicesAnim{
    width: 220px;
    height: 230px;
    margin-top: 10px;
    background-color: green;
    margin-right: 25px;
    float: left;
}
.button_servicesAnimPrev,.button_servicesAnimNext{
    height: 20px;
    width: 10px;
    margin-top: -140px;
}
.button_servicesAnimPrev{
    float: left;
    margin-left: -20px;
    background: transparent url("../img/prev.png") no-repeat 0 0;
    background-position: -20px 0;
}
.button_servicesAnimPrev:hover{
    background-position: 0 0;
}
.button_servicesAnimNext{
    float: right;
    margin-right: -20px;
    background: transparent url("../img/next.png") no-repeat 0 0;
}
.button_servicesAnimNext:hover{
    background-position: -20px 0;
}

/*calc*/
#c_mainClac{
    padding-top: 1px;
    height: 100%;
}
#calc_mainMenu{
    padding-top: 1px;
    width: 210px;
    border-right-width: 1px;
    border-right-style: solid;
    height: 100%;
    float: left;
}
#calc_chooseMenu{
    padding-top: 1px;
    width: 340px;
    border-right-width: 1px;
    border-right-style: solid;
    height: 100%;
    float: left;
}
#calc_createMenu{
    padding-top: 1px;
    height: 100%;
    float: left;
    width: 790px;
}
#calc_elements{
    height: 500px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
}
#calc_preview{

}
#calc_elementsSearch{
    float: right;
    margin-top: 15px;
}
.calc_choosenGroup,.calc_choosenTemplate{
    background-color: #ffff00;
}
#calc_elements_checkbox{

}





