#i_content{
    height: 100%;
}
#i_main{
    width: 100%;
    height: 95%;

    background: url(../img/bg.jpg) no-repeat center center fixed;
    /*-webkit-background-size: cover;*/
    /*-moz-background-size: cover;*/
    /*-o-background-size: cover;*/
    /*background-size: cover;*/
}

/*Прямоугльники*/
#i_topRects{
    width: 1000px;
    height: 95%;
    margin: 0 auto;
}
.c_topRect,.c_topRectNonHover{
    position: absolute;
    height: 150px;
    width: 150px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border: #000 solid 2px;
}
.c_topRect:hover{
    background-color: rgba(255, 254, 215, 0.20);
}
#i_topRect_1{
    top: 100px;
    margin-left: 100px;

    border-right: none;
}
#i_topRect_2{
    margin-left: 154px;
    top: 185px;

    height: 300px;
    border: none;

    border-left: #000 solid 2px;
}
#i_topRect_3{
    margin-left: 313px;
    top: 99px;
}
#i_topRect_4{
    margin-left: 313px;
    top: 314px;
}
#i_topRect_5{
    margin-left: 202px;
    top: 425px;
}
#i_topRect_6{
    margin-left: 424px;
    top: 425px;
}
#i_topRect_7{
    margin-left: 639px;
    top: 425px;
}
#i_topRect_8{
    margin-left: 750px;
    top: 314px;
}
#i_topRect_9{
    margin-left: 639px;
    top: 203px;
}
#i_topRect_10{
    height: 75px;

    margin-left: 395px;
    top: 274px;

    border: none;
    border-right: #000000 solid 2px;
}
#i_topRect_11{
    height: 137px;

    margin-left: 539px;
    top: 314px;

    border: none;
    border-right: #000000 solid 2px;
}
#i_topRect_12{
    height: 142px;
    margin-left: 538px;
    top: 98px;

    border: none;
    border-top: #000000 solid 2px;
}
#i_topRect_13{
    margin-left: 841px;
    top: 252px;
    height: 101px;

    border: none;
    border-right: #000000 solid 2px;
}

#i_mainLogoRect{
    float: left;
    -webkit-transform: rotate(-90deg);
    margin-left: 50px;
    margin-top: 200px;
}
.c_textRotateRect{
    -webkit-transform: rotate(-90deg);
    font-size: 55px;
    float: left;
}
#i_buttonMenuRect{
    height: 60px;
    width: 60px;
    margin-left: 100px;
    margin-top: -30px;
    -webkit-transform: rotate(45deg);
    /*border: #000000 solid medium;*/
}
#i_buttonMenuImg{
    -webkit-transform:rotate(-45deg);
    margin-top: 8px;
    width:55px;
}
/*Конец прямоугульникам*/

/*Лучшие услуги*/
#i_services{
    background-color: #ffffff;
    width: 100%;
    min-height: 90%;
}
#i_servicesContent{
    width: 1000px;
    margin: 0 auto;
    margin-top: 110px;
}
#i_servicesRectBlock{
    width: 1060px;
    margin: 90px auto;
}
.c_servicesRect{
    height: 130px;
    width: 130px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border: #DB2CC5 solid 3px;
    margin-right: 110px;
}
.c_servicesRect:hover{
    background-color: #DB2CC5;
    color: #ffffff;
}
/*конец лучшие услуги*/

/*Ещё блок*/
#i_moreBlock{
    background-color: #dadbae;
    width: 100%;
    min-height: 90%;
    padding-top: 1px;
}
#i_moreBlockContent{
    width: 1000px;
    margin: 0 auto;
    margin-top: 100px;
}
/*конец ещё блок*/
