#c_top{
    background-color:  rgba(36, 112, 196,1);
    box-shadow: 0 0px 10px black;
}
#c_navTop{
    color: white;
    font-size: 25px;
}
.list_navTop li{
    transition:all 0.1s ease-in;
}
.list_navTop li:hover{
    background-color:#FFB800;
    box-shadow:inset 0 0 7px #11385f;
}

.undrelineNavTop_blue{
    background-color: #ffffff;
}
.undrelineNavTop_green{
    background-color: lime;
}
.undrelineNavTop_red{
    background-color: red;
}
.undrelineNavTop_brown{
    background-color: #a52a2a;
}
.undrelineNavTop_fiolet{
    background-color: #8b008b;
}
.undrelineNavTop_yellow{
    /*background-color: #ffa80a;*/
    background-color: #ffff00;
}

.choose{
    box-shadow: 0 0 20px #a72a2a;
}
#c_info{
    box-shadow:inset 0 0 15px rgba(67, 36, 15, 0.61);
    background-color: #FFB800;
}
.backgroundRed{
    background: url("../img/site2.png") no-repeat 50% red;
}
.backgroundGreen{
    background: url("../img/seo2.png") no-repeat 50% lime;
}
.backgroundWhite{
    background: url("../img/article.png") no-repeat 50% white;
}
.backgroundYellow{
    background: url("../img/mobile-dev.png") no-repeat 50% yellow;
}
#button_closeInfo{
    border-right: black solid 1px;
    border-left: black solid 1px;
    border-bottom: black solid 1px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-color: gray;
    background-color: gray;
    box-shadow:0 0 3px #000;
    opacity: 0.5;
}
#button_closeInfo:hover{
    box-shadow:0 0 6px #000;
}
.circle,.circleAlpha{
    box-shadow:0 0 5px #000;
}

/*calc*/
.clac_header1{
    margin-top: 15px;
    font-weight: bold;
    margin-left: 10px;
}
.clac_header2{
    margin-top: 10px;
    padding-left: 25px;
}
.clac_header2:hover{
    background-color: grey;
    cursor: pointer;
}
